# Ignorování build složek
target/
build/
out/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDE soubory
### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.classpath
.project
.settings/
.springBeans

### NetBeans ###
/nbproject/private/
/dist/
/nbdist/
/build/

### VS Code ###
.vscode/

# MacOS systémové soubory
.DS_Store

# Docker soubory
!Dockerfile
!.dockerignore
