<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="container">
  <article class="article-container">
    <h2>
      Základní informace o aplikaci:
    </h2>
    <div>
      <ul>
        <li>V aplikaci jsou vygenerovaná dummy data.</li>
        <li>Aplikace rozlišuje tři role:</li>
        <li><span>Návštěvník</span> - Má přístup na úvodní stránku, o aplikaci a přihlášení.</li>
        <li><span>Zaměstnanec</span> - Má přístup skoro k celé aplikaci. Nemůže registrovat a upravovat pojišťovny.</li>
        <li><span>Admin</span> - Má přístup k celé aplikaci.</li>
      </ul>
      <br>
      <h3>Přihlašovací údaje</h3>
      <br>
      <ul>
        <li>Zaměstnanec - <span>Jméno:</span> zamestnanec1@seznam.cz <span>Heslo:</span> 12345671</li>
        <li>Admin - <span>Jméno:</span> admin@seznam.cz <span>Heslo:</span> 12345671</li>
      </ul>
    </div>
  </article>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>