<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="index-container">
    <article class="index-article">
        <h2>Vítejte</h2>
        <section class="index-section">
            <p>v aplikaci pro správu pojištění. Pro více informací <a th:href="@{/about}">o aplikaci.</a></p>
        </section>
    </article>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>