<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="container-detail-insurance-list">
    <div class="flash-success"  th:text="${success}" th:if="${success}"></div>
    <div class="flash-error" th:text="${error}" th:if="${error}"></div>
    <article class="article-detail-insurance-list">
        <section class="section-detail-insurance-list">
            <h2>
                Detailní informace o pojištění
            </h2>
            <p>Název pojištění:</p>
            <p class="input-detail-insurance-list" th:text="${insuranceList.insuranceName}"></p>
            <p>Pojišťova:</p>
            <p class="input-detail-insurance-list" th:text="${insuranceList.insuranceCompany}"></p>
            <p>Popis:</p>
            <p class="input-detail-insurance-list" th:text="${insuranceList.insuranceDescription}"></p>
            <br>
        </section>
    </article>
    <a th:href="@{'/insurance-list/edit/' + ${insuranceList.insuranceListId}}"><button class="edit">Editovat</button></a>
    <a th:href="@{'/insurance-list/deleteform/' + ${insuranceList.insuranceListId}}"><button class="delete">Odstranit</button></a>
    <a th:href="@{/insurance-list}"><button class="edit">Zpět</button></a>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
</body>
</html>