<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>
<main class="container-error">
    <img class="error-image" th:src="@{/images/something.png}">
    <a><button onclick="goBack()" class="back">Zpět</button></a>
</main>
<footer th:replace="~{fragments/layout.html :: footer}"></footer>
<script th:src="@{/scripts/script.js}"></script>
<script>
function goBack() {
        window.history.back();
    }
</script>
</body>
</html>